<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add
            name="dbURL"
            providerName="Npgsql"
            connectionString="Host=localhost;Port=5432;Database=sgbd_ed;Username=postgres;Password=dbcata05;Maximum Pool Size=2;Minimum Pool Size=1" />
    </connectionStrings>
</configuration>