<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern=" %class{36} %L %M - %msg%xEx%n"/>
        </Console>
        <File name="log" fileName="target/JocMutariMPP_19.06.2026.log" append="true">
            <PatternLayout pattern="%d{DATE} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="services" level="trace" additivity="false">
            <AppenderRef ref="log" />
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="repositories" level="trace" additivity="false">
            <AppenderRef ref="log" />
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="security" level="trace" additivity="false">
            <AppenderRef ref="log" />
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="config" level="trace" additivity="false">
            <AppenderRef ref="log" />
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="log" />
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>