<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add
      name="musicFestivalDB"
      providerName="System.Data.SQLite"
      connectionString="Data Source=D:\Facultate\Medii de proiectare si programare\Laborator\Laborator 5\FestivalMuzicaCSharpWFA\FestivalMuzicaCSharpWFA\festival_muzica.db;" />
  </connectionStrings>
  <appSettings>
    <add key="encryptionAESKey" value="myhashcatalin312" />
  </appSettings>
</configuration>